*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    background-color: blueviolet;
    color: gold;
    text-shadow: 0.5vw 0.5vw 0.5vw indigo;
}